* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: Roboto, sans-serif;
}
header {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right, #5e026e, #c76abc);
    color: white;
    text-transform: uppercase;

}

#backgroundPic {
    width: 40vw;
    height: 60vh;
    margin-left: 5vw;
    z-index: -1;
    transition: cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
}
img {
    background: transparent !important;
}

#backgroundPic:hover {
    transform: scale(1.1);
}

a {
    background: transparent;
    text-decoration: none;
}
.navBar {
    background: transparent;
    display: flex;
    width: 60vw;
    margin-left: 10vw;
    margin-bottom: 2em;
    padding: 0;
    gap: 3vw;
    }
div {
    background: transparent;
}
.navBar div {
    background: transparent;
    position: relative;
    color: white;
    flex: 1;
    text-align: center;
    justify-items: space-between;
    padding: 0.8rem;
    cursor: pointer;
}
.navBar div a {
    color: white;
}
  
.navBar div::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 2px;
    background-color: #4e4251;
    transition: width 0.3s ease;
}
  
.navBar div:hover::after {
    width: 60%;
}
#logo {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 5vh;
    height: 5vh;
    transition: ease-in-out 1s;
}
#logo:hover {
    transform: rotateY(180deg);
    cursor: pointer;
}
#container {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    float: right;
}
h1 {
    font-weight: 300;
    font-size: 5.1rem;
    background: transparent !important;

}
button {
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin: 5vh 5px 0 5px;
    border: rgba(192, 99, 188, 0.82) 1px solid;
    padding: 10px 30px 10px 30px;
}
#allCourses {
    background:#d301f3;
}
#showMeMore {
    color: rgb(222, 80, 170);
    transition: background 1s ease-in, color 1s ease-in;

}
#showMeMore:hover {
    background:#d301f3;
    color: white;
}
#heading {
    text-align: center;

}
#secondSection{
    height: 80vh;
    width: 100%;
}
#secondSection #heading h2 {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    color: #5e026e;
    font-weight: 400;
    font-size: 40px;
    padding-bottom: 0.8rem;
    margin-top: 5vh;
}
#secondSection h2::after {
    content: "";
    position: absolute;
    left: 30%;
    bottom: 0;
    width: 40%;
    height: 2px;
    background: #c76abc;
}
#heading p {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
    line-height: 2;
    font-size: 25px;
}

#secondSection h3 {
    text-transform: uppercase;
    color: #5e026e;
    font-weight: 400;
}

#container2 {
    display: flex;
    margin: 10vh 0 20vh 0;
}
#container2 .col h3 {
font-size: 28px; 
margin: 1rem 0 0.5rem 0;

}
#container2 .col {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}
#container2 .col img{
    width: 180px;
    height: 180px;
    transition: transform 2s;
    
}

#container2 .col img:hover {
    transform: scaleX(-1);

}
#container2 .col p {
    max-width: 200px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: 0.5rem;

}
#thirdSection {
    height: 70vh;
    width: 100%;
    background: linear-gradient(to top,#5e026e, #e9d2e6);
}
#heading3 {
  text-align: center;
}
#heading3 h2 {
  margin: 0 auto;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  color: #5e026e;
  font-weight: 400;
  font-size: 40px;
  padding-bottom: 0.8rem;
  margin-top: 5vh;
  text-align: center;
}

#heading3 h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 40%;
  height: 2px;
  background: #c76abc;

}
#container3 {
    display: flex;
    justify-content: space-around;
    padding: 2rem; 
    max-width: 100vw;
    overflow-x: hidden;
  }
  .section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .section3 img {
    width: 25vw;
    height: auto;
    object-fit: contain;
    margin-top: 20px;
    transition: transform 2s;
  }
  .section3 img:hover{
    transform: scale(1.2);
  }
#fourthSection {
    height: 100%;
    width: 100%;
}
#heading4 {
    text-align: center;
  }
#heading4 h2{
    margin: 0 auto;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    color: #5e026e;
    font-weight: 400;
    font-size: 40px;
    padding-bottom: 0.8rem;
    margin-top: 5vh;
} 
#heading4 h2::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 40%;
    height: 2px;
    background: #c76abc;
  }
#container4 {
    display: flex;
    justify-content: space-around;
    padding: 2rem 1rem;
  }
  
  .section4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    text-align: center;
  }
  
  .circle {
    position: relative;
    width: 180px;
    height: 180px;
    background: linear-gradient(to bottom, #ee0bc1, rgb(224, 92, 202));
    border-radius: 50%;
    box-shadow: 0 20px 30px 0 rgba(154, 15, 152, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 2s
  }
  .circle:hover{
    transform:rotateX(360deg);
  }
  
  .circle img {
    width: 80px;
    height: 80px;
    z-index: 1;
  }
  
  .number {
    position: absolute;
    top: 5px;
    right: 5px;
    background: white;
    color: #ee0bc1;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ee0bc1;
    z-index: 2;
  }
  
  .textSection4 {
    margin-top: 1rem;
    margin-bottom: 10rem;
    padding: 0.5rem;
    border: 2px dashed #ee0bc1;
    font-weight: bold;
    color: #333;
  }

#fifthSection {
    height: 70vh;
    width: 100vw;
    background: linear-gradient(135deg, #5e026e, #c76abc);
    color: white;
    display: flex;
    align-items: center;
    padding: 2rem;
}

#container5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    gap: 4rem;
}

#codeIllustration {
    flex: 1;
    display: flex;
    justify-content: center;
}

#codeIllustration img {
    width: 500px;
    height: 400px;
    object-fit: contain;
    transition: ease-in-out 2s;
}
#codeIllustration img:hover{
    transform: rotateY(180deg);
}

#learningContent {
    flex: 1;
    padding-left: 2rem;
}

#learningContent h2 {
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 3rem;
    line-height: 1.2;
}

#learningGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.learningItem {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.learningItem img {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}

.learningItem p {
    font-size: 1.1rem;
    line-height: 1.4;
    margin: 0;
}

.learningItemLogo{
    transition: transform ease-in-out 1s;
}

.learningItemLogo:hover{
    transform: rotateX(360deg);
}

#sixthSection{
    height: 60vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#heading6 {
    text-align: center;
  }

#heading6 h2{
    margin: 0 auto;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    color: #5e026e;
    font-weight: 400;
    font-size: 40px;
    padding-bottom: 0.8rem;
    margin-bottom: 5vh;
} 
#heading6 h2::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 40%;
    height: 2px;
    background: #c76abc;
  }
#container6{    
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    justify-content: space-evenly;


}
.section6Card{
    position: relative;
    width: 500px;
    height: 300px;
    align-content: center;
    margin: 5px;
    padding: 10px;
    line-height: 30px;
    font-size: 20px;
    border: 1px pink groove;
    border-radius: 10px;
    border: 2px solid hotpink;
    animation: glow 1.5s infinite alternate;
  }
  @keyframes glow {
    from {
      box-shadow: 0 0 5px hotpink;
    }
    to {
      box-shadow: 0 0 20px hotpink, 0 0 30px hotpink;
    }
  }

  .quotes img{
    height: 30px;
    width: 30px;
  }
  .quotes{
    position: absolute;
    background: transparent;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    
  }

.section6Card h3{
    padding-bottom: 10px;
    color:#c76abc;
}

.section6Card footer{
    padding-top: 20px;
}

#seventhSection{
    height: 70vh;
    width: 100vw;
}

#heading7 {
    text-align: center;
  }
#heading7 h2{
    margin: 0 auto;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    color: #5e026e;
    font-weight: 400;
    font-size: 40px;
    padding-bottom: 0.8rem;
    margin-top: 5vh;
    margin-bottom: 5vh;
} 
#heading7 h2::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 40%;
    height: 2px;
    background: #c76abc;
  }

  #container7{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .section7Card{
    height: 500px;
    width: 300px;
    border-radius: 10px;
    padding: 20px;
    color: white;
    line-height: 50px;
    font-size: larger;
    text-align: center;
    background: linear-gradient(to bottom, #5e026e, #ee0bc1);
  }
  
  .section7Card footer{
      padding-top: 100px;
    }
    
    .section7Card2{
      height: 600px;
      width: 400px;
      border-radius: 10px;
      padding: 20px;
      color: white;
      line-height: 70px;
      font-size: larger;
      text-align: center;
      background: linear-gradient(to bottom, #5e026e, #ee0bc1);
    }

    .section7Card2 footer{
        padding-top: 200px;
      }

  .price{
    color: rgb(51, 183, 232);
  }

  ul{
    list-style: none;
    line-height: 30px;
    text-align: justify;
  }

  #eighthSection{
    margin-top: 100px;
    height: 70vh;
    width: 100vw;
}

#heading8 {
    text-align: center;
  }
#heading8 h2{
    margin: 0 auto;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    color: #5e026e;
    font-weight: 400;
    font-size: 40px;
    padding-bottom: 0.8rem;
    margin-top: 5vh;
    margin-bottom: 5vh;
} 
#heading8 h2::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 40%;
    height: 2px;
    background: #c76abc;
  }

  #container8{
    margin-left: 40px;
  }

  #container8 input{
     width: 150px;
     height: 25px;
   }

  .formRow {
    display: flex;
    gap: 20px;
    align-items: stretch;
    position: relative;
  }

#codingPicLastSection{
    position: absolute;
    right: 100px;
    top: 5300px;

}
  .inputGroup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }
  textarea{
    width: 500px;
    height: 100px;
    padding: 10px;
    font-family: inherit;
  }

  #send {
    width: 30%;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    /* margin: 5vh 5px 0 5px; */
    border: rgba(192, 99, 188, 0.82) 1px solid;
    padding: 10px 30px 10px 30px;
    background:linear-gradient(to left,#d301f3, #8f32a0);
    transition: width ease-in 2s;
}

#send:hover{
    width: 60%;
}

#whatsapp {
    position: fixed;
    flex-wrap: nowrap;
    left: 3vw;
    bottom: 5vh;
    transition: transform ease-out 1s;
}

#whatsapp:hover{
    transform: scale(1.4);
    cursor: pointer;
}

.navBarBottom {
    background:linear-gradient(to left,#d30e98, #8f32a0);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    padding: 0;
    }

.navBarBottom div {
    background: transparent;
    color: white;
    flex: 1;
    text-align: center;
    padding: 0.8rem;
}
.navBarBottom div a {
    color: white;
}